// Resets/ cleanups
button,
input,
select,
option,
textarea {
	min-width: 0;
    max-width: 100%;
    outline: none;
    border: none;
    font: inherit;
    border: 0;
    outline: 0;
}


// color vars

$form-background-color: transparent;
$form-field-background-color: $light-grey;
$form-dark-grey: #333;
$form-base-color: $secondary-color;
$form-border-color: transparent;
$form-text-color: $black;
$form-placeholder-color: $grey;
$form-error-color: $red;
$form-focus-color: $secondary-color;
$form-valid-color: $green;


// size vars
$form-border-thickness: 0.2em;
$form-padding: 0;
$form-field-padding: $spacing2;
$form-border-radius: 0;
$form-font-size: 1em;
$labelSize: 1em;
$form-label-height: calc(#{$labelSize} * 2);

// misc vars
$formTransition: $transition2;


// wrappers
form {
    position: relative;
	display: block;
    width: 100%;
    max-width: 40em;
    margin-inline: auto;
}

fieldset {
    width: 100%;
	padding: $form-padding;
	border: none; // default override
}

.input-wrapper {
    box-sizing: border-box;
    font-size: $form-font-size;
    position: relative;
    display: grid;
	gap: $form-label-height;
    &* {
        transition: $formTransition;
    }
    label {
        opacity: 0;
        transition: $formTransition;
        padding-block: $form-field-padding;
		grid-row: 1;
        position: absolute;
        transform: translateY(100%);
    }
    input,
    textarea {
		grid-row: 2;
        z-index: 1;
        background: $form-field-background-color;
        color: $form-text-color;
		padding: $form-field-padding;
        outline: 1px solid $form-border-color;
        outline: none;
        &:focus+label, &:invalid:not(:placeholder-shown)+label {
            opacity: 1;
            transform: translateY(0);
        }
		&::placeholder {
			color: $form-placeholder-color;

		}
        &:focus {
			outline: $form-border-thickness solid $form-focus-color;
        }        
		&:focus:valid, &:valid {
			outline: $form-border-thickness solid $form-valid-color;
		}
        &:not(:focus):invalid {
            outline: $form-border-thickness solid $form-border-color; // targets empty fields
        }
        // Validations
        &:invalid:not(:placeholder-shown) {
            outline: $form-border-thickness solid $form-error-color;
            &+label {
                color: $form-error-color;
            }
        }
    }
}

// elements
.input-type-textarea {
    position: relative;
    height: max-content;
    textarea {
        resize: vertical;
        overflow: auto;
        outline: 1px solid $form-border-color;
        margin: 0;
    }
}

