/* COLORS 
- 
- 
*/

$white: #fff;
$light-grey: #E5E4E2;
$grey: #A9A9A9;
$dark-grey: #36454F;
$black: #1B1212; 
$base-color: #ff0080;
$secondary-color: #1ba673; 

// additional (used in form validation)
$orange: #E2A35C;
$yellow: #FACD07;
$red: #af110c; 
$green: #1a9b20;


/* FONTS
- 
- 
*/
$font-main: 'Arial';
$font-accent: 'Oswald';
$font-art: 'Tiffany';
$font-decor: 'Typewriter';


//* sizes
$font-size1: 5.4545rem; // 60pt
$font-size2: 2.9090rem; // 32pt 
$font-size3: 2.3636rem; // 26pt
$font-size4: 1.6363rem; // 18pt
$font-size5: 1.4545rem; // 16pt
$font-size6: 1.1818rem; // 13pt
$font-size7: 1rem; // 11pt // 15px
$font-size8: 0.9rem; // 10pt ish // 15 * 0.9px

/* SPACING sets
- 
- 
*/

$spacing0: 0.1818em; // 2pt
$spacing1: 0.5454em; // 6pt
$spacing2: 0.7272em; // 8pt
$spacing3: 1em; // 11pt
$spacing4: 1.4545em; // 16pt
$spacing5: 1.6363em; // 18pt
$spacing6: 2.3636rem; // 26pt
$spacing6: 2.9090em; // 32pt
$spacing7: 3.6363em; // 40pt
$spacing8: 5.4545em; // 60pt
$spacing9: 7.4545em; // 82pt

/* Border radius 
- 
- 
*/

$border-radius1: $spacing1;
$border-radius2: $spacing2;
$border-radius3: $spacing3;

/* SHADOWS 
- 
- 
*/

$shadow1: 0 0 $spacing1 rgba($color: $black, $alpha: 0.6);

/* TRANSITIONS 
- 
- 
*/

$transition1: 80ms cubic-bezier(.83,.7,.65,-0.03);
$transition2: 545ms cubic-bezier(.83,.7,.65,-0.03);
$transition3: 727ms cubic-bezier(.83,.7,.65,-0.03);
$transition4: 1000ms cubic-bezier(.83,.7,.65,-0.03);
$transition5: 1181ms cubic-bezier(.83,.7,.65,-0.03);
$transition6: 14545ms cubic-bezier(.83,.7,.65,-0.03);



